<div class="container">
        <h1>Home Page</h1>
        
        <h2>Ugly Airbnb</h2>
        
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita, modi.
        </p>

        <div class="room-container">

                {{#each rooms}}
                <div class="room-img-container">
                    <img src="{{this.imgPath}}" alt="{{this.title}}">
                    <h3>{{this.title}}</h3>
                </div>
            {{/each}}
         </div>
</div>