<div class="container">
    
    <h1>Room Listing Page</h1>

    <div class="room-container">
        {{#each rooms}}
            <div class="room-img-container">
                <img src="{{this.imgPath}}" alt="{{this.title}}">
                <h3>{{this.title}}</h3>
            </div>
        {{/each}}

    </div>

</div>